/* common layout */
#footer h4 {
  float: left;
  margin-right: 1em;
}
#footer p {
  float: left;
}
#footer div.search {
  float: left;
}
#footer p.tagline {
  margin-right: 1.5em;
}
#footer p.links a {
  margin-right: 1.5em;
}

/* static pages */

/* list view */

div.list table {
  border: none;
}
div.list table td {
  text-align: right;
}
div.list table thead tr.months td.upper_left {
  border: none;
}
div.list table thead tr.months td {
  border-bottom: 1px solid #dddddd;
  width: 4em;
}
div.list table tbody tr:last-child td.year {
  border-bottom: none;
}

/* month view */

ol.threads {
  list-style-type: none;
  margin-left: 0;
}
    ol.threads li.thread.closed .header {
      background-color: transparent;
    }
    ol.threads li.thread .header,
    ol.threads li.thread.closed:hover .header {
      background-color: #ddeedd;
    }
    ol.threads li.thread .header .count {
      display: block;
      float: left;
      margin-right: 0.5em;
      text-align: right;
      width: 2.5em;
    }
    ol.threads ol.thread_list {
      margin-left: 3em;
    }
    ol.threads li.thread ol.thread_list.closed {
      display: none;
    }

/* month view and thread view */
div.previous_next {
  height: 18px;
  margin-bottom: 18px;
}
  div.previous_next a.none {
    font-style: italic;
  }
  div.previous_next div.previous {
    float: left;
  }
  div.previous_next div.next {
    float: right;
    text-align: right;
  }

/* thread list */

ol.thread_list {
  background: transparent url(/img/thread_list_line.png) repeat-y -1px 0;
  list-style-type: none;
  margin-left: 0;
}
ol.thread_list li {
  width: 100%;
}
  ol.thread_list li span.indent {
    display: block;
    float: left;
  }
  ol.thread_list li span.date {
    color: #555555;
  }
  ol.thread_list li span.subject {
    color: #464b72;
    font-style: italic;
    margin-left: 1em;
  }
  ol.thread_list li a.message {
    color: #000000;
    display: block;
    text-decoration: none;
    width: 100%;
  }
    ol.thread_list li:hover {
      background-color: #ddeeee;
    }
  ol.thread_list li a.missing {
    color: #888888;
    font-style: italic;
    text-decoration: none;
  }
    ol.thread_list li a.missing:hover {
      text-decoration: underline;
    }

/* thread view */

div.message div.header {
  background: #ddeeee;
  border-top: 1px solid #ccdddd;
  margin-top: -1px;
  padding: 0 0.1em;
}
  div.message div.header h4.from {
    clear: none;
  }
  div.message div.header h6.date {
    float: right;
    margin-top: -18px;
  }
  div.message div.header div.more {
    background: #ddeeee;
    display: none;
    height: 18px;
    float: left;
    width: 100%;
  }
    div.message div.header div.more a.flag {
      font-size: 10px;
      float: right;
    }
div.message.missing p {
  background: #eeeedd;
  border-top: 1px solid #ddddcc;
  margin-top: -1px;
}
div.message div.body {
  padding: 18px 0;
}
div.message div.body pre {
  background-color: transparent;
  border: none;
  margin: 0;
  overflow: visible;
  padding: 0;
}

/* message */

div.message div.body blockquote {
  background-color: #dddddd;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  color: #222222;
  font-style: normal;
  margin: -1px 0;
  padding: 0 0.1em;
}
  div.message div.body blockquote.closed {
    background-color: transparent;
    color: #666666;
    display: inline;
    font-style: italic;
    padding: 0 0.1em;
    width: 30em;
  }
  div.message div.body blockquote.closed:hover {
    background-color: #dddddd;
    cursor: pointer;
  }
