/* layout */

#thread-side-ad {
  left: 25px;
  position: fixed;
  top: 65px;
}
div.previous_next {
  height: 18px;
  margin-bottom: 18px;
}
  div.previous_next a.none {
    font-style: italic;
  }
  div.previous_next div.previous {
    float: left;
  }
  div.previous_next div.next {
    float: right;
    text-align: right;
  }
#footer h4 {
  float: left;
  margin-right: 1em;
}
#footer p {
  float: left;
}
#footer div.search {
  float: left;
}
#footer p.tagline {
  margin-right: 1.5em;
}
#footer p.links a {
  margin-right: 1.5em;
}

/* common elements */

a:visited { color: #5f12a7; }
input {
  border: 1px solid #999999;
  background-color: #dcdad5;
  font-family: Frutiger, Univers, "Helvetica Neue", "Lucida Grande", Calibri, Helvetica, Verdana, sans-serif;
  font-size: 12px;
}

/* static pages */

dt {
  float: left;
  margin-left: 2em;
  width: 9em;
}

/* list view */

div.list table {
  border: none;
}
div.list table td {
  text-align: right;
}
div.list table thead tr.months td.upper_left {
  border: none;
}
div.list table thead tr.months td {
  border-bottom: 0.1em solid #dddddd;
  width: 4em;
}
div.list table tbody tr:last-child td.year {
  border-bottom: none;
}

/* month view */

ol.threads {
  list-style-type: none;
  margin-left: 0;
}
    ol.threads li.thread.closed .header {
      background-color: transparent;
    }
    ol.threads li.thread .header,
    ol.threads li.thread.closed:hover .header {
      background-color: #ddeedd;
    }
    ol.threads li.thread .header .count {
      display: block;
      float: left;
      margin-right: 0.5em;
      text-align: right;
      width: 2.5em;
    }
    ol.threads ol.thread_list {
      margin-left: 3em;
    }
    ol.threads li.thread ol.thread_list.closed {
      display: none;
    }

/* thread list */

ol.thread_list {
  background: transparent url(/img/thread_list_line.png) repeat-y -1px 0;
  list-style-type: none;
  margin-left: 0;
}
ol.thread_list li {
  width: 100%;
}
  ol.thread_list li span.indent {
    display: block;
    float: left;
  }
  ol.thread_list li span.date {
    color: #555555;
  }
  ol.thread_list li span.subject {
    color: #464b72;
    font-style: italic;
    margin-left: 1em;
  }
  ol.thread_list li a.message {
    color: #000000;
    display: block;
    text-decoration: none;
    width: 100%;
  }
    ol.thread_list li:hover {
      background-color: #ddeeee;
    }
  ol.thread_list li a.missing {
    color: #888888;
    font-style: italic;
    text-decoration: none;
  }
    ol.thread_list li a.missing:hover {
      text-decoration: underline;
    }

/* thread view */

div.message div.header {
  background: #ddeeee;
  border-top: 0.1em solid #ccdddd;
  padding: 0 0.1em;
}
  div.message div.header h4.from {
    clear: none;
  }
  div.message div.header h6.date {
    float: right;
    margin-top: -1.5em;
  }
div.message.missing p {
  background: #eeeedd;
  border-top: 0.1em solid #ddddcc;
}
div.message div.body {
  padding: 1.5em 0 1.5em 0;
}
div.message div.body pre {
  background-color: transparent;
  border: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

/* message view */

div.message div.body blockquote {
  background-color: #dddddd;
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  color: #222222;
  font-style: normal;
  margin: 0;
  padding: 0 0.1em;
}
  div.message div.body blockquote.closed {
    background-color: transparent;
    color: #666666;
    display: inline;
    font-style: italic;
    padding: 0 0.1em;
    width: 30em;
  }
  div.message div.body blockquote.closed:hover {
    background-color: #dddddd;
    cursor: pointer;
  }
