%h1 ListLibrary

%p
  ListLibrary provides free, highly-readable public mailing list archives. If you
  run a list, we'd be happy to archive it for you. (More <a href="/about">about</a> us.)

%ul.lists
  - @lists.each do |list|
    %li= "<a href=\"/#{list.slug}\">#{(list['name'] or list.slug)}</a>"
