AuthName "ListLibrary private beta, ask Peter for credentials"
AuthType Basic
AuthUserFile /home/listlibrary/listlibrary.net/.htpasswd
Require valid-user

Options -Indexes
RewriteEngine On
# list
RewriteRule ^([a-zA-Z\-]+)$  /$1/
RewriteRule ^([a-zA-Z\-]+)/$ /$1/index.html
# year
RewriteRule ^([a-zA-Z\-]+)/[0-9][0-9][0-9][0-9]$  /$1/
RewriteRule ^([a-zA-Z\-]+)/[0-9][0-9][0-9][0-9]/$ /$1/
# month
RewriteRule ^([a-zA-Z\-]+/[0-9][0-9][0-9][0-9]/[0-9][0-9])$  /$1/
RewriteRule ^([a-zA-Z\-]+/[0-9][0-9][0-9][0-9]/[0-9][0-9])/$ /$1/index.html
