%section
  %h1 Chibrary

  %p
    Chibrary ("shy-brary") provides free, highly-readable public mailing list
    archives. If you run a list, we'd probably be happy to archive it. (More
    <a href="/about">about</a> the site.)

  %nav.lists
    <h2>All Lists</h2>
    %ul
      - @lists.each do |list|
        %li
          %a{ href: "/#{list.slug}" }= list.title_name
